#accountContent {
  .list-block{
    ul{
      border-bottom:0 none;
      li{
        a{
          display:block;
          width:100%;
          color:#40464d;
          border:0 none;
          border-bottom:1px solid #dfdfdd;
          border-radius:0;
          background:no-repeat calc(100% - 5px) center;
          background-image: url("data:image/svg+xml;charset=utf-8,<svg viewBox='0 0 60 120' xmlns='http://www.w3.org/2000/svg'><path d='m60 61.5-38.25 38.25-9.75-9.75 29.25-28.5-29.25-28.5 9.75-9.75z' fill='%23c7c7cc'/></svg>");
          background-size:10px 20px;
          padding: 14px 40px 14px 15px;
        }
        .select-radio[type="radio"]:checked + .select-trigger{
          background-image: url("data:image/svg+xml;charset=utf-8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 10'><polygon fill='%23fd8615' points='11.6,0 4.4,7.2 1.4,4.2 0,5.6 4.4,10 4.4,10 4.4,10 13,1.4 '/></svg>");
          background-size:auto 15px;
        }
        .selected-area{
          background:#f0f0f0;
          padding:14px 14px 14px 66px;
          font-size:12px;
          color:#999;
        }
          .yxz{
            float:left;
            width:66px;
            margin-left:-66px;
            text-align:right;
          }
      }
    }
  }
}
